html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  margin: 5px 10px;
}
.listContainer {
}
#modal {
  margin: 5px;
  padding: 10px;
  width: 500px;
  height: 500px;
  position: relative;
  top: 50%;
  left: 25%;
  border: 1px solid #666;
}
table {
  width: 400px;
  max-height: 400px;
}
table,
th,
td {
  border: 1px solid #666;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}

.close {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #4b86b4;
  padding: 5px 10px;
  margin: 10px 0 10px 10px;
  color: #4b86b4;
  font-weight: 600;
}
#view {
  color: blue;
  cursor: pointer;
}
.calenderBox {
  position: absolute;
  top: 16%;
  left: 60%;
  z-index: 10;
  width: 350px;
  height: 360;
  border: 1px solid #4b86b4;
  background-color: #eee3e7;
}
